
.iHoldBoxes {
    width: 960px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:50px auto;
}

/* body {



} */
.box {
    height: 25px;
    width: 25px;
    border: 2px solid black;
    margin: 5px 5px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: auto;
}

button {
   margin: 0 auto;
    
}
